<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ApprovalMapper">

	<resultMap type="Member" id="memberResultSet">
		<id property="mNo" column="M_NO"/>
		<result property="mWork" column="M_WORK"/>
		<result property="cNo" column="C_NO"/>
	</resultMap>
	
	<!-- 전자결재문서 -->
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL
		VALUES
		(SEQ_APPROVAL.NEXTVAL, null, DEFAULT, #{foNo}, #{cNo}, #{dNo}, #{mNo})
	</insert>
	
	<!-- 결재선 -->
	<insert id="insertApprovalLine" parameterType="ApprovalLine">
		INSERT INTO APPROVAL_LINE
		VALUES
		(SEQ_APPROVAL.CURRVAL, null, #{aplineNo})
	</insert>
	
	<!-- 첨부파일 -->
	<insert id="insertFormAtt" parameterType="FormAtt">
		INSERT INTO FORM_ATT
		VALUES
		(SEQ_APPROVAL.CURRVAL, #{originName}, #{changeName}, #{filePath}, DEFAULT, #{foNo})
	</insert>
	
	<!-- 휴가신청서 -->
	<insert id="insertDayoffForm" parameterType="DayoffForm">
		INSERT INTO DAYOFF_FORM
		VALUES
		(SEQ_DAYOFF_FORM.NEXTVAL, SYSDATE, #{doTitle}, #{doStartDate}, #{doEndDate}, #{doContent}, SEQ_APPROVAL.CURRVAL, #{foNo}, #{mNo}, #{doType})
	</insert>
	
	<!-- 사업기획서 -->
	<insert id="insertProposalForm" parameterType="ProposalForm">
		INSERT INTO PROPOSAL_FORM
		VALUES
		(SEQ_PROPOSAL_FORM.NEXTVAL, SYSDATE, #{prTitle}, #{prGoal}, #{prPlan}, #{prStartDate}, #{prEndDate}, #{prPerson}, #{prAmount}, SEQ_APPROVAL.CURRVAL, #{foNo}, #{mNo})
	</insert> 
	
	<!-- 지출결의서 -->
	<insert id="insertPaymentForm" parameterType="PaymentForm">
		INSERT INTO PAYMENT_FORM
		VALUES
		(SEQ_PAYMENT_FORM.NEXTVAL, SYSDATE, #{payTitle}, #{payDay}, #{payList}, #{payAmount}, SEQ_APPROVAL.CURRVAL, #{foNo}, #{mNo})
	</insert> 
	
	<!-- <select id="selectMemberListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE M_WORK = 'Y'
	</select> -->
	
	<select id="selectMemberList" parameterType="Map" resultMap="memberResultSet">
		SELECT * 
		FROM MEMBER 
		WHERE M_WORK = 'Y'
			AND C_NO = #{cNo}
			AND M_NAME = #{searchName}
		ORDER BY M_NO DESC
	</select>
	
</mapper>