<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ApprovalMapper">

	<resultMap type="Member" id="memberResultSet">
		<id property="mNo" column="M_NO"/>
		<result property="mWork" column="M_WORK"/>
		<result property="cNo" column="C_NO"/>
		<result property="apNo" column="AP_NO"/>
	</resultMap>
	
	<resultMap type="Approval" id="approvalResultSet">
		<id property="apNo" column="AP_NO"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="DayoffForm" id="doFormResultSet">
		<id property="doNo" column="DO_NO"/>
		<result property="doDate" column="DO_DATE"/>
		<result property="doTitle" column="DO_TITLE"/>
		<result property="doStartDate" column="DO_START_DATE"/>
		<result property="doEndDate" column="DO_END_DATE"/>
		<result property="doContent" column="DO_CONTENT"/>
		<result property="apNo" column="AP_NO"/>
		<result property="foNo" column="FO_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="doType" column="DO_TYPE"/>
	</resultMap>
	
	<resultMap type="ProposalForm" id="prFormResultSet">
		<id property="prNo" column="PR_NO"/>
		<result property="prDate" column="PR_DATE"/>
		<result property="prTitle" column="PR_TITLE"/>
		<result property="prGoal" column="PR_GOAL"/>
		<result property="prPlan" column="PR_PLAN"/>
		<result property="prStartDate" column="PR_START_DATE"/>
		<result property="prEndDate" column="PR_END_DATE"/>
		<result property="prPerson" column="PR_PERSON"/>
		<result property="prAmount" column="PR_AMOUNT"/>
		<result property="apNo" column="AP_NO"/>
		<result property="foNo" column="FO_NO"/>
		<result property="mNo" column="M_NO"/>
	</resultMap>
	
	<resultMap type="PaymentForm" id="payFormResultSet">
		<id property="payNo" column="PAY_NO"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="payTitle" column="PAY_TITLE"/>
		<result property="payDay" column="PAY_DAY"/>
		<result property="payList" column="PAY_LIST"/>
		<result property="payAmount" column="PAY_AMOUNT"/>
		<result property="apNo" column="AP_NO"/>
		<result property="foNo" column="FO_NO"/>
		<result property="mNo" column="M_NO"/>
	</resultMap>
	
	<resultMap type="ApList" id="apListResultSet">
		<id property="apNo" column="AP_NO"/>
		<result property="foNo" column="FO_NO"/>
		<result property="doTitle" column="DO_TITLE"/>
		<result property="doDate" column="DO_DATE"/>
		<result property="mNo" column="M_NO"/>
		<result property="cNo" column="C_NO"/>
		<result property="apStatus" column="AP_STATUS"/>
		<result property="aplineNo" column="APLINE_NO"/>
	</resultMap>

	<resultMap type="FormAtt" id="formAttResultSet">
		<id property="apNo" column="AP_NO"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="status" column="STATUS"/>
		<result property="foNo" column="FO_NO"/>
	</resultMap>
	
	<resultMap type="ApprovalLine" id="approvalLineResultSet">
		<id property="apNo" column="AP_NO"/>
		<result property="aplineStatus" column="APLINE_STATUS"/>
		<result property="aplineNo" column="APLINE_NO"/>
	</resultMap>
	
	<!-- 전자결재문서 -->
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL
		VALUES
		(SEQ_APPROVAL.NEXTVAL, null, DEFAULT, #{foNo}, #{cNo}, #{dNo}, #{mNo})
	</insert>
	
	<!-- 결재선 -->
	<insert id="insertApprovalLine" parameterType="ApprovalLine">
		INSERT INTO APPROVAL_LINE
		VALUES
		(SEQ_APPROVAL.CURRVAL, null, #{aplineNo})
	</insert>
	
	<!-- 첨부파일 -->
	<insert id="insertFormAtt" parameterType="FormAtt">
		INSERT INTO FORM_ATT
		VALUES
		(SEQ_APPROVAL.CURRVAL, #{originName}, #{changeName}, #{filePath}, DEFAULT, #{foNo})
	</insert>
	
	<!-- 휴가신청서 -->
	<insert id="insertDayoffForm" parameterType="DayoffForm">
		INSERT INTO DAYOFF_FORM
		VALUES
		(SEQ_DAYOFF_FORM.NEXTVAL, TO_CHAR(SYSDATE,'yyyy-MM-dd'), #{doTitle}, #{doStartDate}, #{doEndDate}, #{doContent}, SEQ_APPROVAL.CURRVAL, #{foNo}, #{mNo}, #{doType})
	</insert>
	
	<!-- 사업기획서 -->
	<insert id="insertProposalForm" parameterType="ProposalForm">
		INSERT INTO PROPOSAL_FORM
		VALUES
		(SEQ_PROPOSAL_FORM.NEXTVAL, TO_CHAR(SYSDATE,'yyyy-MM-dd'), #{prTitle}, #{prGoal}, #{prPlan}, #{prStartDate}, #{prEndDate}, #{prPerson}, #{prAmount}, SEQ_APPROVAL.CURRVAL, #{foNo}, #{mNo})
	</insert> 
	
	<!-- 지출결의서 -->
	<insert id="insertPaymentForm" parameterType="PaymentForm">
		INSERT INTO PAYMENT_FORM
		VALUES
		(SEQ_PAYMENT_FORM.NEXTVAL, TO_CHAR(SYSDATE,'yyyy-MM-dd'), #{payTitle}, #{payDay}, #{payList}, #{payAmount}, SEQ_APPROVAL.CURRVAL, #{foNo}, #{mNo})
	</insert> 
	
	<!-- 검색한 사원명에 해당하는 정보 -->
	<select id="selectMemberList" parameterType="Map" resultMap="memberResultSet">
		SELECT A.M_NO, A.M_NAME, B.D_NAME, C.J_NAME
		FROM MEMBER A
		JOIN DEPT B ON A.D_NO = B.D_NO
		JOIN JOB C ON A.J_NO = C.J_NO
		WHERE A.M_WORK = 'Y'
			AND A.C_NO = #{cNo}
			AND A.M_NAME = #{searchName}
		ORDER BY A.M_NO DESC
	</select>
	
	<!-- 진행 중인 결재 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL
		WHERE AP_STATUS IS NULL
	</select>
	
	<select id="selectList" parameterType="ApList" resultMap="apListResultSet">
		SELECT 
		    B.AP_NO,
		    B.FO_NO,
		    B.DO_TITLE,
		    B.DO_DATE,
		    A.M_NO,
		    A.C_NO,
		    A.AP_STATUS
		FROM APPROVAL A
		JOIN DAYOFF_FORM B ON A.AP_NO= B.AP_NO
		WHERE A.AP_NO = B.AP_NO
		AND A.AP_STATUS IS NULL
		AND A.STATUS = 'Y'
		AND A.M_NO = #{mNo}
		AND A.C_NO = #{cNo}
		UNION
		SELECT 
		    C.AP_NO,
		    C.FO_NO,
		    C.PR_TITLE,
		    C.PR_DATE,
		    A.M_NO,
		    A.C_NO,
		    A.AP_STATUS
		FROM APPROVAL A
		JOIN PROPOSAL_FORM C ON A.AP_NO = C.AP_NO
		WHERE A.AP_NO = C.AP_NO
		AND A.AP_STATUS IS NULL
		AND A.STATUS = 'Y'
		AND A.M_NO = #{mNo}
		AND A.C_NO = #{cNo}
		UNION
		SELECT 
		    D.AP_NO,
		    D.FO_NO,
		    D.PAY_TITLE,
		    D.PAY_DATE,
		    A.M_NO,
		    A.C_NO,
		    A.AP_STATUS
		FROM APPROVAL A
		JOIN PAYMENT_FORM D ON A.AP_NO = D.AP_NO
		WHERE A.AP_NO = D.AP_NO
		AND A.AP_STATUS IS NULL
		AND A.STATUS = 'Y'
		AND A.M_NO = #{mNo}
		AND A.C_NO = #{cNo}
	</select>

	<select id="selectApprovalOngoingDo" parameterType="DayoffForm" resultMap="doFormResultSet">
		SELECT * 
		FROM DAYOFF_FORM
		WHERE AP_NO = #{apNo}
	</select>
	
	<select id="selectApprovalOngoingPr" parameterType="ProposalForm" resultMap="prFormResultSet">
		SELECT * 
		FROM PROPOSAL_FORM
		WHERE AP_NO = #{apNo}
	</select>
	
	<select id="selectApprovalOngoingPay" parameterType="PaymentForm" resultMap="payFormResultSet">
		SELECT * 
		FROM PAYMENT_FORM
		WHERE AP_NO = #{apNo}
	</select>
	
	<select id="selectApprovalOngoingAtt" parameterType="FormAtt" resultMap="formAttResultSet">
		SELECT * 
		FROM FORM_ATT
		WHERE AP_NO = #{apNo}
	</select>
	
	<select id="selectApprovalOngoingApLine" parameterType="Member" resultMap="memberResultSet">
		SELECT 
		    B.M_NAME,
		    C.J_NAME
		FROM APPROVAL_LINE A
		JOIN MEMBER B ON A.APLINE_NO = B.M_NO
		JOIN JOB C ON B.J_NO = C.J_NO
		WHERE A.AP_NO = #{apNo}
	</select>
	
	<!-- 삭제 -->
	<update id="deleteApproval" parameterType="_int">
		UPDATE APPROVAL 
		SET STATUS = 'N'
		WHERE AP_NO = #{apNo}
	</update>
	
	<select id="selecetApprovalStatus" resultType="_int">
		SELECT COUNT(*) 
		FROM APPROVAL A
		JOIN APPROVAL_LINE B ON A.AP_NO = B.AP_NO
		WHERE B.AP_NO = #{apNo}
		AND B.APLINE_STATUS IS NOT NULL
	</select>
	
	<!-- 수정 -->
	<update id="updateDayoffForm" parameterType="DayoffForm">
		UPDATE DAYOFF_FORM 
		SET DO_TITLE = #{doTitle}
		    , DO_START_DATE = #{doStartDate}
		    , DO_END_DATE = #{doEndDate}
		    , DO_CONTENT = #{doContent}
		    , DO_TYPE = #{doType}
		WHERE AP_NO = #{apNo}
	</update>
	
	<update id="updateProposalForm" parameterType="ProposalForm">
		UPDATE PROPOSAL_FORM 
		SET PR_TITLE = #{prTitle}
		    , PR_GOAL = #{prGoal}
		    , PR_PLAN = #{prPlan}
		    , PR_START_DATE = #{prStartDate}
		    , PR_END_DATE = #{prEndDate}
		    , PR_PERSON = #{prPerson}
		    , PR_AMOUNT = #{prAmount}
		WHERE AP_NO = #{apNo}
	</update>
	
	<update id="updatePaymentForm" parameterType="PaymentForm">
		UPDATE PAYMENT_FORM 
		SET PAY_TITLE = #{payTitle}
		    , PAY_DAY = #{payDay}
		    , PAY_LIST = #{payList}
		    , PAY_AMOUNT = #{payAmount}
		WHERE AP_NO = #{apNo}
	</update>
	
	<update id="updateFormAtt" parameterType="FormAtt">
		UPDATE FORM_ATT 
		SET ORIGIN_NAME = #{originName}
		    , CHANGE_NAME = #{changeName}
		WHERE AP_NO = #{apNo}
	</update>
	
	<!-- 결재 요청 listCount -->
	<select id="selectRequestListCount" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL A
		JOIN APPROVAL_LINE B ON A.AP_NO = B.AP_NO
		WHERE A.STATUS = 'Y'
		AND B.APLINE_NO = #{mNo}
	</select>
	
	<!-- 결재요청 리스트 -->
	<select id="selectRequestList" parameterType="ApList" resultMap="apListResultSet">
		SELECT 
		    B.AP_NO,
		    B.FO_NO,
		    B.DO_TITLE,
		    B.DO_DATE,
		    A.M_NO,
		    A.C_NO,
		    A.AP_STATUS
		FROM APPROVAL A
		JOIN DAYOFF_FORM B ON A.AP_NO= B.AP_NO
		JOIN APPROVAL_LINE C ON A.AP_NO = C.AP_NO
		WHERE A.AP_NO = B.AP_NO
		AND A.AP_STATUS IS NULL
		AND A.STATUS = 'Y'
		AND A.C_NO = #{cNo}
		AND C.APLINE_NO = #{mNo}
		UNION
		SELECT 
		    C.AP_NO,
		    C.FO_NO,
		    C.PR_TITLE,
		    C.PR_DATE,
		    A.M_NO,
		    A.C_NO,
		    A.AP_STATUS
		FROM APPROVAL A
		JOIN PROPOSAL_FORM C ON A.AP_NO = C.AP_NO
		JOIN APPROVAL_LINE C ON A.AP_NO = C.AP_NO
		WHERE A.AP_NO = C.AP_NO
		AND A.AP_STATUS IS NULL
		AND A.STATUS = 'Y'
		AND A.C_NO = #{cNo}
		AND C.APLINE_NO = #{mNo}
		UNION
		SELECT 
		    D.AP_NO,
		    D.FO_NO,
		    D.PAY_TITLE,
		    D.PAY_DATE,
		    A.M_NO,
		    A.C_NO,
		    A.AP_STATUS
		FROM APPROVAL A
		JOIN PAYMENT_FORM D ON A.AP_NO = D.AP_NO
		JOIN APPROVAL_LINE C ON A.AP_NO = C.AP_NO
		WHERE A.AP_NO = D.AP_NO
		AND A.AP_STATUS IS NULL
		AND A.STATUS = 'Y'
		AND A.C_NO = #{cNo}
		AND C.APLINE_NO = #{mNo}
	</select>
	
	<select id="selectApprovalWriter" parameterType="Member" resultMap="memberResultSet">
		SELECT 
		    A.M_NAME,
		    B.D_NAME
		FROM MEMBER A
		JOIN DEPT B ON A.D_NO = B.D_NO
		JOIN APPROVAL C ON A.M_NO = C.M_NO
		WHERE C.AP_NO = #{apNo}
	</select>
	
</mapper>