<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ApprovalMapper">
	
	<!-- 기안작성 - 전자결재문서 -->
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL
		VALUES
		(SEQ_APPROVAL.NEXTVAL, null, DEFAULT, #{foNo}, #{cNo}, #{dNo}, #{mNo})
	</insert>
	
	<!-- 기안작성 - 결재라인 -->
	<insert id="insertApprovalLine" parameterType="ApprovalLine">
		INSERT INTO APPROVAL_LINE
		VALUES
		(SEQ_APPROVAL.CURRVAL, null, #{aplineNo})
	</insert>
	
	<!-- 기안작성 - 첨부파일 -->
	<insert id="insertApprovalAtt" parameterType="formAtt">
		INSERT INTO FORM_ATT
		VALUES
		(SEQ_APPROVAL.CURRVAL, #{originName}, #{changeName}, #{filePath}, DEFAULT, #{foNo})
	</insert>
	
</mapper>