<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AttendanceMapper">
  	<select id="selectAttendance" parameterType="Attendance" resultType="Attendance">
		SELECT M_NO, TO_CHAR(A_ENT_DATE,'YYYY-MM-DD') "entDate", A_ATIME, A_LTIME, A_WTIME, A_STATE
		FROM ATTENDANCE
		WHERE M_NO = #{mNo} AND A_ENT_DATE = TO_DATE(#{entDate},'YYYY-MM-DD')
	</select>
	
	<insert id="insertAtime" parameterType="Attendance">
		INSERT INTO ATTENDANCE
		(M_NO, A_ENT_DATE, A_ATIME)
		VALUES
		(#{mNo}, TO_DATE(#{entDate},'YYYY-MM-DD'), TO_DATE(#{aAtime},'YYYY-MM-DD HH24:MI:SS'))  
	</insert>
	
	<update id="insertLtime" parameterType="Attendance">
		UPDATE ATTENDANCE
		SET A_LTIME = TO_DATE(#{aLtime},'YYYY-MM-DD HH24:MI:SS')
		WHERE M_NO = #{mNo} AND A_ENT_DATE = TO_DATE(#{entDate},'YYYY-MM-DD')
	</update>
	
</mapper>
