<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<!-- 채팅방 인원수 -->
	<select id="selectCount" resultType="Chat" parameterType="_int">
		SELECT CR_NO, COUNT(M_NO) AS CRCOUNT
		FROM CR_USER A
        JOIN CHATROOM B USING(CR_NO)
		WHERE C_NO = ${cNo}
		GROUP BY CR_NO
		ORDER BY CR_NO
	</select>

	<!-- 채팅방 전체 목록 -->
	<select id="selectChatRoomList" resultType="Chat" parameterType="_int">
		SELECT DISTINCT A.CR_NO, CR_TITLE, CR_PW
		FROM CHATROOM A
		JOIN CR_USER B ON A.CR_NO = B.CR_NO
		WHERE C_NO = ${cNo}
		ORDER BY CR_NO
	</select>
	
	<!-- 채팅방 생성 맴버 목록 -->
	<select id="selectMemList" parameterType="Member" resultType="Member">

		SELECT  M_NO, M_NAME, J_NAME, D_NAME, P_NO
		FROM VIEW_LOGINUSER 
		WHERE C_NO = #{cNo}
        AND M_WORK = 'Y'
        AND M_NO != #{mNo}
        AND M_NO NOT IN (SELECT  A.M_NO
                            FROM VIEW_LOGINUSER A
                            JOIN CR_I_LIST B ON A.M_NO = B.I_MEM_NO
                            WHERE A.C_NO = #{cNo}
                            AND M_WORK = 'Y')
		ORDER BY J_NO DESC        
	
	</select>

	<!-- 선택된 맴버 목록 -->
	<select id="checkedUserList" parameterType="Member" resultType="Member">
		SELECT   A.M_NO, M_NAME, J_NAME, D_NAME, P_NO
			FROM VIEW_LOGINUSER A
			JOIN CR_I_LIST B ON A.M_NO = B.I_MEM_NO
			WHERE A.C_NO = #{cNo}
	        AND B.M_NO = #{mNo}
	        AND M_WORK = 'Y'
			ORDER BY J_NO DESC
	</select>
	
	
	<!-- 선택된 맴버 등록 -->
	<insert id="insertSelectUserList" parameterType="Member">
		INSERT INTO CR_I_LIST VALUES (#{cNo} , #{cMNo}, #{mNo})
	</insert>
	
	
	<!-- 선택된 맴버 삭제 -->
	<delete id="deleteCheckedUser" parameterType="Member">
		DELETE FROM CR_I_LIST WHERE C_NO = #{cNo} AND M_NO = #{mNo}
	</delete>
	
	<!-- 채팅방 등록 -->
	<insert id="createChatRoom" parameterType="Chat">
		INSERT INTO CHATROOM VALUES(#{crNo}, #{crTitle} , #{crPw} , #{cNo})
	</insert>
	
	<!-- 채팅방 맴버 등록 -->
	<insert id="insertChatUser" parameterType="Chat">
		INSERT INTO CR_USER VALUES(#{crNo}, #{mNo}, #{crFounderNo})
	</insert>
	
	<!-- 채팅방 맴버 조회 -->
	<select id="findRoomUser" parameterType="Chat" resultType="Chat">
		SELECT A.M_NO , A.CR_FOUNDERNO FROM CR_USER A JOIN CHATROOM B ON A.CR_NO = B.CR_NO WHERE A.CR_NO = ${crNo} AND A.M_NO = ${mNo} AND B.C_NO = ${cNo}
	</select>
	
	<!-- 채팅방 삭제 -->
	<delete id="deleteRoom" parameterType="Chat">
		DELETE FROM CHATROOM WHERE C_NO = #{cNo} AND CR_NO = #{crNo}
	</delete>
	
	<!-- 채팅방 맴버 전체 조회 -->
	<select id ="findRoomUserList" parameterType="Chat" resultType="Chat">
		SELECT A.M_NO, A.CR_FOUNDERNO FROM CR_USER A JOIN CHATROOM B ON A.CR_NO = B.CR_NO WHERE B.C_NO = #{cNo} AND A.CR_NO = #{crNo}
	</select>
	
	<!-- 채팅출입 맴버 조회 -->
	<select id="findCAUser" parameterType="Chat" resultType="Chat">
		SELECT A.M_NO FROM CR_ACCESS A JOIN CHATROOM B ON A.CR_NO = B.CR_NO WHERE A.CR_NO = #{crNo} AND A.M_NO = #{mNo} AND B.C_NO = #{cNo}
	</select>
	
	<!-- 채팅방 출입 맴버 등록 -->
	<insert id="insertCAUser" parameterType="Chat">
		INSERT INTO CR_ACCESS VALUES(#{crNo}, #{mNo}, #{chatEnter} , NULL , #{cNo})
	</insert>
	
	<!-- 채팅방 출입 맴버 수정 -->
	<update id="updateCAUser" parameterType="Chat">
		UPDATE CR_ACCESS SET CHAT_ENTER = #{chatEnter} WHERE CR_NO = #{crNo} AND M_NO = #{mNo} AND C_NO = #{cNo}
	</update>
	
	<!-- 채팅내역 시퀀스 조회 -->
	<select id="findCHSeq" parameterType="Chat" resultType="Chat">
		SELECT * FROM (SELECT CHAT_SEQ FROM CR_HISTORY WHERE CR_NO = #{crNo} ORDER BY CHAT_SEQ DESC) WHERE ROWNUM = 1
	</select>
	
	<!-- 채팅내역 등록 -->
	<insert id="saveChat" parameterType="Chat">
		INSERT INTO CR_HISTORY VALUES(#{crNo}, #{mNo} , #{sender}, #{chatSeq} , #{chatContent} , #{chatTime}, #{chatCTime}, #{crImage}, #{crImageRoot} ,#{pName})
	</insert>
	
	<!-- 로그인 유저 가져오기 -->
	<select id="loginUser" parameterType="Member" resultType="Member">
		<![CDATA[
		SELECT * 
		FROM VIEW_LOGINUSER
		WHERE M_NO = #{mNo}
		AND C_NO = #{cNo}
		AND M_WORK='Y'
		]]>
	</select>
	
	<!-- 채팅방 채팅내역 리스트 출력 -->
	<select id="selectCHList" parameterType="Chat" resultType="Message">
		SELECT * FROM CR_HISTORY WHERE CR_NO = #{crNo} ORDER BY CHAT_SEQ
	</select>
	
	<!-- 채팅방 나가는 시간 업데이트 -->
	<update id="disconnect" parameterType="Chat">
		UPDATE CR_ACCESS SET CHAT_EXIT = #{chatExit} WHERE CR_NO = #{crNo} AND M_NO = #{mNo}
	</update>
	
	<!-- 채팅방 유저 목록에서 삭제 -->
	<delete id="exitChatRoom" parameterType="Chat">
		DELETE FROM CR_USER WHERE CR_NO = #{crNo} AND M_NO = #{mNo}
	</delete>
	
	<!-- 채팅방 출입 목록에서 삭제 -->
	<delete id="deleteCAUser" parameterType="Chat">
		DELETE FROM CR_ACCESS WHERE CR_NO = #{crNo} AND M_NO = #{mNo}
	</delete>
	
	<!-- 채팅방에 유저가 있는지 확인 -->
	<select id="checkCRUserList" parameterType="Chat" resultType="Chat">
		SELECT * FROM CR_USER WHERE CR_NO = #{crNo} AND M_NO = #{mNo}
	</select>
	
	
	<!-- 초대리스트 맴버 삭제 -->
	<delete id="deleteInviteMember" parameterType="Member">
		DELETE FROM CR_I_LIST WHERE C_NO = #{cNo} AND I_MEM_NO = #{mNo}
	</delete>
	
</mapper>