<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CommunityMapper">
	<resultMap type="Community" id="CommunityResultSet">
		<id column="COM_NUM" property="ComNum"/>
		<id column="COM_Title" property="ComTitle"/>
		<id column="COM_Content" property="ComContent"/>
		<id column="COM_Write" property="ComWrite"/>
		<id column="COM_VIEW" property="ComView"/>
		<id column="COM_Date" property="ComDate"/>
		<id column="COM_Status" property="ComStatus"/>
	</resultMap>
	
	<resultMap type="Reply" id="ReplyResultSet">
		<id column="ComRe_Num" property="ComReNum"/>
		<id column="ComRe_Content" property="ComReContent"/>
		<id column="Com_Num" property="ComPreNum"/>
		<id column="ComRe_WRITER" property="ComReWriter"/>
		<id column="ComRe_DATE" property="ComReDate"/>
		<id column="ComRe_STATUS" property="ComReStatus"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select count(*) from community
		where Com_Status='Y'
	</select>
	
	<select id="searchList" resultMap="CommunityResultSet">
		select * from community
		where Com_Status='Y'
		<if test="title != null">
		AND Com_Title LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
		AND Com_Content LIKE '%'||#{content}||'%'
		</if>
		<if test="titleAndContent != null">
		AND (Com_Title LIKE '%'||#{titleAndContent}||'%' or Com_Content LIKE '%'||#{titleAndContent}||'%')
		</if>
		order by Com_Num desc
	</select>
	
	<select id="getsearchCount"  parameterType="com.uni.spring.common.SearchCondition" resultType="_int">
		SELECT COUNT(*)
		FROM community
		WHERE Com_Status='Y'
		<if test="title != null">
		AND Com_Title LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
		AND Com_Content LIKE '%'||#{content}||'%'
		</if>
		<if test="titleAndContent != null">
		AND (Com_Title LIKE '%'||#{titleAndContent}||'%' or Com_Content LIKE '%'||#{titleAndContent}||'%')
		</if>
	</select>
	
	<select id="selectList" resultType="Community">
		select * from community
		where Com_Status='Y'
		order by Com_Num desc
	</select>
	
	<insert id="insertCommunity" parameterType="Community">
		INSERT INTO community
		VALUES(SEQ_COMMUNITY.NEXTVAL, #{ComTitle}, #{ComContent}, #{ComWrite}, DEFAULT, SYSDATE, DEFAULT)
	</insert>
	
	<select id="selectCommunity" resultMap="CommunityResultSet" parameterType="Community">
		select * from community
		where Com_Num=#{ComNum} and Com_Status='Y'
	</select>
	
	<select id="selectReplyList" parameterType="_int" resultMap="ReplyResultSet">
		select ComRe_Num, ComRe_Content, ComRe_Writer, ComRe_Date
		from reply
		where Com_Num = #{ComPreNum} and ComRe_STATUS='Y'
		order by Com_Num desc
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO reply
		VALUES(SEQ_REPLY.NEXTVAL, #{ComReContent}, #{ComPreNum}, #{ComReWriter}, SYSDATE, DEFAULT)
	</insert>
	
	<update id="deleteCommunity" parameterType="Community">
		update community
		set Com_Status='N'
		where Com_Num=#{ComNum}
	</update>
	
	<update id="updateCommunity" parameterType="Community">
		update community
		set Com_Title=#{ComTitle}, Com_Content=#{ComContent}
		where Com_Num=#{ComNum}
	</update>
	
</mapper>