<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DeptMapper">
  	<select id="selectDeptList" parameterType="_int" resultType="Dept">
		SELECT *
		FROM DEPT
		WHERE C_NO = #{cNo}
		ORDER BY D_NO
	</select>
	
	<delete id="deletejd" parameterType="Dept">
		DELETE DEPT
		WHERE C_NO = #{cNo} AND D_NAME = #{dName} 
	</delete>
	
	<insert id="insertjd" parameterType="Dept">
		INSERT INTO DEPT
		VALUES
		(SEQ_D_NO.NEXTVAL, #{dName}, #{cNo})
	</insert>

	<update id="updatejd" parameterType="Dept">
		UPDATE DEPT
		SET D_NAME = #{dName}
		WHERE D_NAME = #{oriName}
		AND C_NO = #{cNo}
	</update>
</mapper>
