<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MeetingroomMapper">
 
	<select id="selecRoomsettUser" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE M_ID = #{settingUserId}
		AND M_SETTING = 'Y'	
	</select>
	
	<select id="selectList" parameterType="_int" resultType="Meetingroom">
		SELECT *
		FROM MEETINGROOM
		WHERE C_NO = #{userCNo}
	</select>
	
	<insert id="insertMeetingroom" parameterType="Meetingroom">
		INSERT INTO MEETINGROOM
		VALUES
		(#{roomNo}, #{roomName}, #{roomCapa}, #{roomNote}, #{cNo})	
	</insert>
	
</mapper>