<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MemberMapper">
  <insert id="insertCMember" parameterType="Company">
		INSERT INTO MEMBER
		VALUES 
		(SEQ_MEMBER.NEXTVAL, #{cId}, #{cName}, #{cEmail}, '회사계정', '회사계정', #{cPwd}, SYSDATE, null, DEFAULT, 'Y', '0', '1', SEQ_C_NO.CURRVAL, null, null)
	</insert>
	
	<select id="loginUser" parameterType="Member" resultType="Member">
		<![CDATA[
		SELECT * 
		FROM VIEW_LOGINUSER
		WHERE M_ID=#{mId} 
		AND M_WORK='Y'
		AND M_PWDERROR <= 4
		]]>
	</select>
	
	<update id="updatePwd" parameterType="string">
		UPDATE MEMBER
		SET M_PWDERROR = M_PWDERROR + 1
		WHERE M_ID=#{mId}
	</update>
	
	<select id="selectMemListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE C_NO = #{cNo}
	</select>
	
	<select id="selectMemList" parameterType="_int" resultType="Member">
		SELECT M_NO, M_ID, M_NAME, J_NAME, D_NAME, M_WORK
		FROM VIEW_LOGINUSER 
		WHERE C_NO = #{cNo}
		ORDER BY M_NO, M_WORK
	</select>
</mapper>