<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MemberMapper">
  	<insert id="insertCMember" parameterType="Company">
		INSERT INTO MEMBER
		VALUES 
		(SEQ_MEMBER.NEXTVAL, #{cId}, #{cName}, #{cEmail}, '회사계정', '회사계정', #{cPwd}, SYSDATE, null, DEFAULT, 'Y', '0', SEQ_PHOTO.CURRVAL, SEQ_C_NO.CURRVAL, null, null, DEFAULT)
	</insert>
	
	<select id="loginUser" parameterType="Member" resultType="Member">
		<![CDATA[
		SELECT * 
		FROM VIEW_LOGINUSER
		WHERE M_ID=#{mId} 
		AND M_WORK='Y'
		AND M_PWDERROR <= 4
		]]>
	</select>
	
	<update id="updatePwd" parameterType="string">
		UPDATE MEMBER
		SET M_PWDERROR = M_PWDERROR + 1
		WHERE M_ID=#{mId}
	</update>
	
	<select id="selectMemListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE C_NO = #{cNo}
	</select>
	
	<select id="selectMemList" parameterType="_int" resultType="Member">
		SELECT M_NO, M_ID, M_NAME, J_NAME, D_NAME, M_WORK
		FROM VIEW_LOGINUSER 
		WHERE C_NO = #{cNo}
		ORDER BY M_WORK DESC, M_NO
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES 
		(#{mNo}, #{mId}, #{mName}, #{mEmail}, #{mPhone}, #{mAddress}, #{mPwd}, SYSDATE, NULL,
		DEFAULT, DEFAULT, DEFAULT, SEQ_PHOTO.CURRVAL, #{cNo}, #{dNo}, #{jNo}, DEFAULT)
	</insert>
	
	<select id="selectMember" parameterType="string" resultType="Member">
		<![CDATA[
		SELECT * 
		FROM VIEW_LOGINUSER
		WHERE M_No=#{mNo} 
		]]>
	</select>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER
		SET M_EMAIL=#{mEmail}, M_PHONE=#{mPhone}, M_ADDRESS=#{mAddress}, M_ENT_DATE=#{mEntDate}, M_HIRE_DATE = #{mHireDate},
			 M_MANAGER=#{mManager}, D_NO=#{dNo}, J_NO=#{jNo}
		WHERE M_NO=#{mNo}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE MEMBER
		SET M_WORK = 'N', M_HIRE_DATE = SYSDATE
		WHERE M_NO=#{mNo}
	</update>
	
	<update id="updateMypage" parameterType="Member">
		UPDATE MEMBER
		SET M_EMAIL=#{mEmail}, M_PHONE=#{mPhone}, M_ADDRESS=#{mAddress}
		WHERE M_NO=#{mNo}
	</update>
	
	<update id="updatePassword" parameterType="Member">
		UPDATE MEMBER
		SET M_PWD=#{mPwd}
		WHERE M_NO=#{mNo}
	</update>
	
	<update id="resetPwd" parameterType="Member">
		UPDATE MEMBER
		SET M_PWD=#{mPwd}, M_PWDERROR = 0
		WHERE M_NO=#{mNo}
	</update>

	<insert id="insertPhoto" parameterType="Photo">
		INSERT INTO PHOTO
		VALUES
		(SEQ_PHOTO.NEXTVAL, #{pName}, #{pPath})
	</insert>
	
	<update id="updatePhoto" parameterType="Photo">
		UPDATE PHOTO
		SET P_NAME=#{pName}
		WHERE P_NO=#{pNo}
	</update>
	
	<select id="findPwd" parameterType="Member" resultType="Member">
		SELECT *
		FROM VIEW_LOGINUSER
		WHERE M_ID=#{mId} AND M_EMAIL=#{mEmail}
	</select>
	
	<select id="searchMemListCount"  parameterType="Member" resultType="_int">
		SELECT COUNT(*)
		FROM VIEW_LOGINUSER 
		WHERE C_NO = #{cNo}
		<if test="mNo != null">
		AND M_NO LIKE '%'||#{mNo}||'%'
		</if>
		<if test="mName != null">
		AND M_NAME LIKE '%'||#{mName}||'%'
		</if>
		<if test="jName != null">
		AND J_NAME LIKE '%'||#{jName}||'%'
		</if>
		<if test="dName != null">
		AND D_NAME LIKE '%'||#{dName}||'%'
		</if>
	</select>

	<select id="searchMemList"  parameterType="Member" resultType="Member">
		SELECT *
		FROM VIEW_LOGINUSER 
		WHERE C_NO = #{cNo}
		<if test="mNo != null">
		AND M_NO LIKE '%'||#{mNo}||'%'
		</if>
		<if test="mName != null">
		AND M_NAME LIKE '%'||#{mName}||'%'
		</if>
		<if test="jName != null">
		AND J_NAME LIKE '%'||#{jName}||'%'
		</if>
		<if test="dName != null">
		AND D_NAME LIKE '%'||#{dName}||'%'
		</if>
		ORDER BY M_WORK DESC, M_NO
	</select>

</mapper>