<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
	<resultMap type="Notice" id="noticeResultSet">
		<id column="No_Num" property="No_Num"/>
		<id column="C_No" property="C_No"/>
		<id column="No_Title" property="No_Title"/>
		<id column="No_Content" property="No_Content"/>
		<id column="No_Write" property="No_Write"/>
		<id column="No_WriteName" property="No_WriteName"/>
		<id column="No_Date" property="No_Date"/>
		<id column="No_Important" property="No_Important"/>
		<id column="No_Status" property="No_status"/>
		<id column="M_NAME" property="No_WirterName"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*) from notice
		where No_Status='Y' and C_No=#{companyNo}
	</select>
	
	<select id="selectList" resultMap="noticeResultSet">
		select * from notice
		where No_Status='Y' and C_No=#{companyNo}
		order by DECODE( No_Important,'Y',1), No_Num desc
	</select>

	<select id="searchList" resultMap="noticeResultSet">
		select * from notice
		where No_Status='Y' and C_No=#{cNo}
		<if test="title != null">
		AND No_Title LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
		AND No_Content LIKE '%'||#{content}||'%'
		</if>
		<if test="titleAndContent != null">
		AND (No_Title LIKE '%'||#{titleAndContent}||'%' or No_Content LIKE '%'||#{titleAndContent}||'%')
		</if>
		order by DECODE( No_Important,'Y',1), No_Num desc
	</select>
	
	<select id="getListCount"  parameterType="com.uni.spring.common.SearchCondition" resultType="_int">
		SELECT COUNT(*)
		FROM notice
		WHERE No_Status='Y' and C_No=#{cNo}
		<if test="title != null">
		AND No_Title LIKE '%'||#{title}||'%'
		</if>
		<if test="content != null">
		AND No_Content LIKE '%'||#{content}||'%'
		</if>
		<if test="titleAndContent != null">
		AND (No_Title LIKE '%'||#{titleAndContent}||'%' or No_Content LIKE '%'||#{titleAndContent}||'%')
		</if>
	</select>
	
	<select id="selectNotice" resultMap="noticeResultSet" parameterType="Notice">
		select * from notice
		where No_Num=#{no_Num} and No_Status='Y'
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO notice
		VALUES(SEQ_NOTICE.NEXTVAL, #{C_No}, #{No_Title}, #{No_Content}, #{No_Write}, #{No_WriteName}, SYSDATE, #{No_Important}, DEFAULT)
	</insert>
	
	<update id="deleteNotice" parameterType="Notice">
		update notice
		set No_Status='N'
		where No_Num=#{No_Num}
	</update>
	
	<update id="updateNotice" parameterType="Notice">
		update notice
		set No_Title=#{No_Title}, No_Content=#{No_Content}, No_Important=#{No_Important}
		where No_Num=#{No_Num}
	</update>
	
</mapper>