<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="surveyBoardMapper">

	<!-- 부서명 목록 -->
	<select id="selectDeptList" parameterType="_int" resultType="Member">
		SELECT 
			DISTINCT A.D_NAME, A.D_NO 
		FROM 
			DEPT A JOIN MEMBER B ON A.D_NO = B.D_NO 
		WHERE 
			B.C_NO = #{cNo}
		ORDER BY D_NO
	</select>


	<!-- 설문 게시판에 게시물 등록 -->
	<select id="insertSurveyBoard" parameterType="SurveyBoard" resultType="_int">
		INSERT INTO SURVEY_BOARD VALUES
			(#{sbNo}, #{sbTitle}, #{sbSurveyInfo}, #{sbStartDate}, 
			 #{sbEndDate}, #{sbResultState}, #{sbFounderNo}, #{cNo})
	</select>

	<!-- 공개 범위 부서 등록 -->
	<update id="insertSBTargetDept" parameterType="ArrayList">
		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
		INTO SB_TARGET_DEPT VALUES
		(	
			#{item.sbNo} , 
			#{item.sbTDNo}
		)
		</foreach>	
	</update>
	
	
	<!-- 설문 게시물 문항 등록 -->
	<insert id="insertSBInquiry" parameterType="SurveyBoard">
		INSERT INTO SB_INQUIRY VALUES(#{sbINo} , #{sbNo}, #{sbITitle} , #{sbIType})
	</insert>
	
	<!-- 문항 질문 등록 
	<update id="insertSBQuestion" parameterType="ArrayList">
		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
		INTO SB_QUESTION VALUES
		(	
			SEQ_SQ_BNO.NEXTVAL , 
			#{item.sbINo} , 
			#{item.sqContent}
		)
		</foreach>	
	</update>
	-->
	<!-- 질문 정보 입력 -->
	<insert id="insertSBQuestion" parameterType="SurveyBoard" >
		INSERT INTO SB_QUESTION VALUES(SEQ_SQ_BNO.NEXTVAL , #{sbINo} , #{sqContent})
	</insert>
	
	
	<!-- 홈 리스트 카운터 조회 -->
	<select id="selectSBHomeListCount" parameterType="SurveyBoard" resultType="_int">
		SELECT 
	   		COUNT(*)
		FROM SURVEY_BOARD A
			JOIN SB_TARGET_DEPT B ON A.SB_NO = B.SB_NO
		WHERE B.SB_TD_NO IN (#{dNo} , 0)
			AND A.C_NO = #{cNo}
			AND TO_DATE(A.SB_ENDDATE, 'YYYY-MM-DD') > SYSDATE
	</select>
	
	<!-- 홈 리스트 조회 -->
	<select id="selectSBHomeList" parameterType="SurveyBoard" resultType="SurveyBoard">
	
		SELECT 
		   A.*
		FROM SURVEY_BOARD A
		JOIN SB_TARGET_DEPT B ON A.SB_NO = B.SB_NO
		WHERE B.SB_TD_NO IN (#{dNo} , 0)
		AND A.C_NO = #{cNo}
	<![CDATA[	
		AND TO_DATE(A.SB_ENDDATE, 'YYYY-MM-DD') > SYSDATE
	]]>
	</select>
	
	
	
</mapper>